@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  font-weight: normal;
  background-color: #cce2c2;
  animation: fadeIn 1s ease-in-out; /* Add fade-in animation to body */
}

#quiz-container {
  display: flex;
  justify-content: space-between;
  animation: fadeIn 1s ease-in-out; /* Add fade-in animation to quiz container */
}

#question-container {
  flex: 1;
  animation: fadeIn 1s ease-in-out; /* Add fade-in animation to question container */
}

#leaderboard-container {
  flex: 1;
  margin-left: 20px;
  animation: fadeIn 1s ease-in-out; /* Add fade-in animation to leaderboard container */
}

button {
  margin: 10px 0px auto auto;
  color: rgb(229, 243, 230);
  font-weight: 500;
  font-size: 17px;
  border: none;
  background: rgba(1, 171, 8, 1);
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  animation: fadeIn 1s ease-in-out; /* Add fade-in animation to buttons */
}

button:hover {
  text-shadow: rgb(255, 255, 255) 2px 2px 7px;
  transform: scale(1.1);
}

button:active {
  text-shadow: rgb(255, 255, 255) 1px 1px 5px;
  transform: scale(0.9);
}

.question {
  background-color: rgba(245, 245, 245, 0.658);
  width: 60vw;
  height: 147px;
  padding: 0 0 0 30px;
  display: flex;
  align-items: center;
  font-weight: 500;
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out; /* Add fade-in animation to questions */
}

.options {
  background-color: rgba(245, 245, 245, 0.582);
  width: 60wv;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 1s ease-in-out; /* Add fade-in animation to options */
}

.opt {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 3px;
  height: 40px;
  border-radius: 5px;
  border-width: 0.5px;
  border: solid rgba(217, 217, 217, 1);
  transition: all 0.2s;
  animation: fadeIn 1s ease-in-out; /* Add fade-in animation to options */
}

.opt:hover {
  background-color: rgba(53, 189, 58, 1);
  color: #dcebd6;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: end;
  animation: fadeIn 1s ease-in-out; /* Add fade-in animation to buttons */
}

.score {
  padding: 10px;
  margin: 2px;
  width: fit-content;
  animation: fadeIn 1s;
}
.Y {
  background-color: rgba(254, 195, 61, 1);
}
.G {
  background-color: rgba(1, 171, 8, 1);
}
.R {
  background-color: rgb(254, 61, 61);
}
/* Keyframes for the fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
